/* All Images Formatting*/
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
}

/* All of Body Formatting*/
.body{
  background-color: rgb(115, 155, 167);
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}
/* ALL Section Formatting*/
  section {
  margin-bottom: 20px;
  padding: 10px;
}

/* Header Formatting*/

  .header {
    display: flex;
    align-items: center;
    border: 3px solid black;
    background-color: rgb(217, 40, 40);
    padding: 10px;
    margin-bottom: 20px;
  }


  /* Intro Formatting*/
  .intro {

  }

  /* Importance Formatting*/
  .importance {

  }

  /* Basic-Syntax Formatting*/
  .basic-syntax {

  }

  /* Sizes Formatting*/
  .sizes {

  }

  /* How It Works Formatting*/
  .how-it-works {

  }

  /* When to Use Formatting*/
  .when-to-use {

  }
