nav {
  background-color: #4a4949;
  padding: 10px;
  width: 100%;
  display: flex;        /* 👈 REQUIRED */
  align-items: center;  /* 👈 NOW this works */
  justify-content: center;
}

nav button {
  margin-right: 10px;
  background-color: transparent;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}