 .header {
  display: flex;
  justify-content: center;
  background-color: steelblue;
  margin: 20px;
  border: 3px solid black;
}

.flex-box-content {
  background-color: rgb(115, 155, 167);
  display: block;
  font-size: 18px;
  margin: 20px;
}

/* highlight trick */
.highlight {
  background-color: #444; /* dark gray background */
  color: white; /* text color */
  padding: 2px 6px; /* space inside */
  border-radius: 4px; /* rounded edges */
  font-family: monospace; /* make it look like code */
  font-size: 16px;
}

/* Highlight Text Blue */
/*.highlight2 {
  background-color: rgb(81, 81, 187);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-family: monospace ;
  font-size: 16px;
}*/

.importance{
  background-color:chocolate;
}

.concepts {
  background-color: rgb(85, 202, 104);
}

.direction {
  background-color: crimson;
}

.horizontal {
  background-color: darkcyan;
}


.flexbox-page {
  background-color: rgb(115, 155, 167);
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}

.vertical {
  background-color: darkgrey;
}

.how-it-works{
  background-color: blueviolet;
}

.common-uses {
  background-color: crimson;
}

.responsiveness {
  background-color: darkorange;
}

.common-mistakes {
  background-color: aqua;
}

.testing-layouts {
  background-color: rgb(132, 187, 100);
}

.summary {
  background-color: darksalmon;
}
