

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.Welcome_Image {
  height: 300px;
  width: 300px;
}

section {
  background-color: rgb(57, 55, 55);
  color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.Body {
  color: whitesmoke;
  text-align: center;
  max-width: 700px;
  margin: 0 auto;
}
section + section {
  margin-top: 20px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discord_logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.discord_link {
  display: inline-block; /* 👈 prevents stretching */
}

